@page
@model Cebuella.Pages.Index

@{
    ViewData["Title"] = "Home";
}

<div class="home-div">
    <img src="cebuella.png"/>
    <p>Cebuella - Student Progress Tracker</p>
    <p>@Model.InstanceName</p>
</div>